[submodule "OoJs"]
	path = OoJs
	url = https://github.com/najamelan/TidBits_Javascript_OoJs.git
[submodule "UnitTesting"]
	path = UnitTesting
	url = https://github.com/najamelan/TidBits_Javascript_UnitTesting.git
